#
# Ci-dessous les variables pour configurer les conteneurs de abes-politique-informatique-docker
# Marche à suivre:
#   il faut copier ce fichier dans un fichier .env
#   avant de démarrer l'application avec docker-compose up
#

######################################################
# Paramètres globaux
######################################################
MEM_LIMIT=1g
CPU_LIMIT=5

######################################################
# Paramétrage de abes-politique-informatique
######################################################
ABES_POLITIQUE_INFORMATIQUE_VERSION=main
ABES_POLITIQUE_INFORMATIQUE_HTTP_PORT=28940
ABES_POLITIQUE_INFORMATIQUE_HTTP_BASEURL=https://politique-informatique.abes.fr/


######################################################
# Paramétrage de abes-politique-informatique-watchtower
######################################################
ABES_POLITIQUE_INFORMATIQUE_WATCHTOWER_NOTIFICATION_SLACK_HOOK_URL=https://hooks.slack.com/services/xxx/yyyyyyyyyyyyyyy
ABES_POLITIQUE_INFORMATIQUE_WATCHTOWER_NOTIFICATION_SLACK_IDENTIFIER=local politique-developpement-watchtower
ABES_POLITIQUE_INFORMATIQUE_WATCHTOWER_RUN_ONCE=true
ABES_POLITIQUE_INFORMATIQUE_WATCHTOWER_DOCKERHUB_USER=login
ABES_POLITIQUE_INFORMATIQUE_WATCHTOWER_DOCKERHUB_PASS=pass
